/*========================================== MASTER STYLESHEET ===================================================================

	Project     :	RESUME TEMPLATES
	Version     :	1.0
	Last Change : 	19/05/2017
	Primary Use :   RESUME TEMPLATES

=================================================================================================================================*/

/*============================================= MEDIA QUERIES START ===============================================*/

@media only screen and (min-width: 250px) and (max-width: 767px) {
	.navbar-toggle.collapsed {
		margin-top:18px;
	}
	.menu {
		padding-bottom:5px;		
	}	
	.navbar-default .navbar-nav > li > a {
		display:inline-block;
	}	
	.responsive-img-align  img{
		display:block;
		margin:0 auto;	
	}	
	.footer1-res  {
		display:block;
		margin:0 auto;
		text-align:center;
	}	
	.footer1-icon {
		padding-top:30px;
	}
	
	.branding8-col-img img,
	.promotion8-col-img img,
	.download9-2-img img,
	.offer13-img img,
	.special12-col img,
	.team6-col img,
	.team2-col img {
		margin:0 auto;
	}
	
	
	.clients5-res-space,
	.clients2-res-space {
		padding-bottom:30px;
	}
	.utilizing3-div {
		margin:0 auto;
		width:100%;
	}
	.news3-row-2 .news3-col {
		text-align:left;
	}

	.gallery3-res-top-space {
		padding-top:30px;
	}
	.gallery3-bottom-space {
		margin-bottom:0;
	}
	.one-column3-img  img{
		display:block;
		margin:0 auto 30px auto;
	}
	.services2-res-top-space {
		margin-top:30px;
	}
	
	.header-div-5 {
		padding-top:30px;
	}
	
	.services7-col-1 ul li:nth-child(1),
	.services3-col-1 ul li:nth-child(1),
	.involving4-col-1 ul li:nth-child(1) {
		padding-top:20px;
	}
	
	.product5-features-div-2 {
		padding-top:30px;
	}
	
	.footer-div-5 h4 {
		text-align:left;
	}
	
	.footer5-payment  h3{
		text-align:center;
		padding-bottom:10px;
	}
	
	.footer5-col-2 .col-sm-6 {
		padding-left:0;
		padding-right:0;
	}
	
	.features6-main {
		width:90%;
	}
	.counter6-col-2 {
		margin-top:30px;
	}
	
	.subscribe13-row,
	.estimation7-row {
		width:100%;
	}
	
	.subscribe13-col-2 {
		margin-top:20px;
	}
	
	.estimation7-col .list-div-body {
		text-align:left;
	}
	
	.estimation7-col-1,
	.estimation7-col {
		padding-left:5px;
		padding-right:5px;
	}
	
	.testimonial7-col img {
		margin:0 auto;
		padding-top:30px;
	}
	.testimonial12-arrow-right,
	.arrow-left {
		display:none;
	}
	.arrow-down {
		width: 0; 
		height: 0; 
		border-left:15px solid transparent;
		border-right:15px solid transparent;	  
		border-top:15px solid #ffba00; 
		position:absolute;
		left:48%;
		bottom:-15px;
	}
	.testimonial12-arrow-down {
		width: 0; 
		height: 0; 
		border-left:15px solid transparent;
		border-right:15px solid transparent;	  
		border-bottom:15px solid #c79c60; 
		position:absolute;
		left:48%;
		bottom:0;
		top:-15px;
	}
	.news7-col {
		padding-left:15px;
		padding-right:15px;
	}
	.footer12-img,
	.testimonial12-col img,
	.footer7-col-1 img {
		margin:0 auto;
	}
	.footer7-img {
		padding-top:30px;
	}
	.testimonial12-col img {
		padding-bottom:30px;
	}
	
	.header7-ul li:nth-child(1) {		
		margin-bottom:20px;
	}
	.testimonial8-div {
		width:100% !important;
	}
	.testimonial8-ul p {
		text-align:left;
	}
	.header-div-9 {
		padding-top:0;
	}
	.download9-2-img {
		padding-bottom:30px;
	}
	
	.download9-3-row {
		text-align:center;
		width:100%;
	}
	
	.download9-5-img,
	.download9-3-col-2 {
		margin-top:30px;
	}
	
	.about7-div {
		display:inline-grid;
	}
	.about7-ul-2 {
		padding:20px 0;
	}
	
	.popup-bg,
	.footer-div-5 {
		width:80%;
	}
	.emergency-col h3 {
		text-align:left;
		margin-bottom:20px;
	}
	
	.two_col10_space-2 {
		padding-top:10px;
	}
	
	.price-table11_1-border-1,
	.price-table11_1-border-3,
	.price-table11-border-4,
	.price-table11-border-1 {
		border-left:1px solid #dddddd;
		border-right:1px solid #dddddd;		
	}
	
	.price-table11-border-2 {		
		border-right:1px solid #01b1d6;		
	}
	.product11-div .product11-li-2 {
		margin-bottom:20px !important;
	}
	
	.offer13-col {
		margin-top:30px;
	}
	.three-col-15-1 ul li:last-child {
		margin-bottom:30px;
	}
	.three-col-15-1 .three-col-15-res  {
		margin-bottom:0 !important;
	}
	.gallery15-2-space {
		padding-bottom:6px;
	}
	.payment-col h3 {
		margin-bottom:20px;
		text-align:center;
	}
	.payment13-div {
		width:100%;
	}
	
	.form6-div {
		margin-bottom:25px;
	}
	
	.form8-section {
		width:100%;
		padding-left:15px;
		padding-right:15px;
	}
	
	.form10-div-1 {
		padding-right:15px;
	}

	.form10-div-2 {
		padding-left:15px;
	}
	
	.product11-col {
		padding-left:15px;
		padding-right:15px;
	}
	.subscribe13-col-1 h3 {
		text-align:center;
	}
	
	.nav13-left,
	.nav12-right,
	.nav10-right,
	.nav11-right,
	.nav9-right {
		display:none;
	}
	
	.navigation12,
	.navigation10,
	.navigation11,
	.navigation9 {
		float:right;
		display:contents;
	}
	.navbar-default .navbar-toggle {
		margin-top:32px;
		margin-right:0;
	}
	.logo13-image {
		float: left;
		left: 0;
		position: static;
		top: 0;
		transform: none;
	}	
	
	.navigation15  .navbar-toggle,
	.navigation13  .navbar-toggle {
		margin-top:18px !important;
		margin-right:0;
	}
	
	
	.nav15-left,
	.nav14-left {
		float:none;
		margin:0 auto;
		display:table;
		padding-bottom:20px;
	}
	
	.nav17-right {	
		margin:0 auto;
		display:none;		
	}
	
	.logo17-div ,
	.logo17-image {
		float:left;
	}
	
	.logo17-div {
		padding-top:10px;
	}
	.logo17-image {
		padding-bottom:0;
	}
	
	.navigation17 {
		padding-bottom:10px;
	}
	
	.topbar1.navbar-default .navbar-toggle{
		 margin-right: 15px !important;
		margin-top: 18px !important;
	}
	
	.menu17-phone-1,
	.menu15-phone-1,
	.menu14-phone-1 {
		margin-left:0;
		margin-top:20px;
	}
	
	.menu17-phone,
	.menu15-phone,
	.menu14-phone {
		display:table;
	}
	.nav-15 li:last-child {
		display:none;
	}
	.menu17-phone {
			padding:0;
	}
	
	#wrap-1,
	#wrap { 
		position:inherit;
	}
	#nav-1,
	#nav {
	  float: left;
	  position: inherit;
	  left: 0;
	}

	#nav-1 ul,
	#nav ul {
	  float: left;
	 /* IE6 needs this */
	  position: inherit;
	  left:0;
	  list-style: none;
	}

	#nav-1 li,
	#nav li {
	  float: none;
	}

	#nav-1 a,
	#nav a {
	  float: left;
	  text-decoration: none;
	}
	
	.logo16-image {
		float:left;
		padding-bottom:0;
		padding-top:0;
	}
	
	.topbar16 .navbar-header {
		padding-right:15px;
	}
	
	.topbar16  .navbar-toggle  {
		margin-top:18px;
	}
	
	.logo17-div {
		padding-bottom:0;
	}
	.navigation17  .navbar-toggle {
		margin-top:22px !important;
		margin-right:0;		
	}
	
	.navigation14  .navbar-toggle {
		margin-top:18px;
		margin-right:0;		
	}
	
	.topbar8  .navbar-toggle,
	.topbar4  .navbar-toggle,
	.topbar6  .navbar-toggle {
		margin-top:18px;
		margin-right:15px;
		
	}
	
	.top-menu-5  .navbar-header{
		display:table;
		margin:0 auto;
		text-align:center;
	}
	
	.navigation17 {
		padding-bottom:10px;
	}
	.navbar-default .navbar-toggle {
		margin-top:18px;
		margin-bottom:18px;
	}
	#bs-example-navbar-collapse-1 {
		background-color:rgba(255,255,255,0.7);
	}
	.navbar-default .navbar-toggle {
		border:none;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: transparent;
	}
	.navbar-toggle .icon-bar {
		height:4px;
		width:35px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color:#1e1e1e;
	}
	
	
	.topbar15.navbar-default .navbar-toggle .icon-bar,
	.topbar6.navbar-default .navbar-toggle .icon-bar,
	.topbar8.navbar-default .navbar-toggle .icon-bar,
	.topbar10.navbar-default .navbar-toggle .icon-bar {
		background-color:#ffffff !important;
	}
	
	.topbar15.navbar-default .navbar-toggle,
	.topbar6.navbar-default .navbar-toggle,
	.topbar8.navbar-default .navbar-toggle,
	.topbar10.navbar-default .navbar-toggle {
		border-color:#ffffff !important;		
	}
	
	.three-col2,
	.three-col3 {
		text-align:center;
	}
	
	.three-col2  img,
	.three-col3  img{
		margin:0 auto 20px auto;
	}
	
	.subscribe7-div {
		text-align:center;
		width:100%;
	}
	
	.subscribe7-div h3 {
		margin-bottom:20px;
	}
	
	.arrival13-bgimage-1 {
		height:395px;
	}
		
	.demo2-form .form2-col-2 {
		margin-top:40px;
	}
	
	.demo3-footer-col {
		padding-top:40px;
	}
	
	.header-div-8-1 {
		margin-bottom:40px;
	}
	.menucard12-bg {
		width:100%;
	}
	.about2-right {
		display:none;
	}
	.threecol-bw-col-1 {
		padding-bottom:30px;
	}
	.black-navigation {
		float: none;
	}
	
	
	
	.bw-form-btn {
		margin:30px auto 0 auto;
		width:95% !important;
	}
	
	.testimonial5-col {
		width:100%;
	}
	
	.contact-me,
	.gallery-col {
		margin-top:40px;
	}
	
	.contact-bgimage .footer12-col {
		width:100%;
	}
	
	
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color:#333333 !important;
    background-image: none;
    background-repeat: repeat-x;
    color: #eeeeee !important;
}
	
}

@media only screen and (min-width: 250px) and (max-width: 991px) {
	.responsive-img-space {
		margin-bottom:20px;
	}
	.section-space {
		margin-bottom:30px;
	}
	.section-respadding {
		padding-bottom:30px;
	}
	.section-respadding-1 {
		padding-bottom:20px;
	}
	.responsive-width100{
		margin:0 auto;
		text-align:center;		
		width:100%;
	}
	.business-features-resspace-1 {		
		margin-bottom:30px;
	}
	.business-features-resspace-1 .business-features-col {
		margin-top:0;	
	}
	
	.about-me-bg,
	.bw-about,
	.arrival13-bgimage,
	.product11-bgimage,
	.business3-bgimage,
	.about2-bgimage { 
		position:relative;
		width:100%;
	}
	 .about2-padding{
		padding-bottom:50px !important;
		padding-top:30px !important;
	}
	
	.form1-bgimage,
	.cta13-col-1,
	.skill15-bgimage,
	.upcoming-events12-bgimage-2,
	.upcoming-events12-bgimage,	
	.modern3-bgimage {
		position:static;
		width:100%;	
	}	
	
	.arrival13-bgimage-1 {
		width:100%;			
	}
	
	
	.upcoming-events12-right,
	.upcoming-events12-left {
		height:0;
	}
	
	.upcoming-events12-padding {		
		padding-top: 25px;
	}	
	
	.skill15-padding,
	.product11-padding,
	.modern3-padding,
	.business3-padding {
		padding-bottom: 80px;
		padding-top: 20px;
	}
	.about2-padding {
		padding-top: 80px;
		padding-bottom:30px;
	}
	.header-div-7 {
		padding-top:30px;
	}
	.news13-border-1 {
		border-bottom:1px dashed #4bc8c8;	
		border-right:1px dashed #4bc8c8;
		border-left:1px dashed #4bc8c8;
		border-top:none;
	}
	.news13-border-2 {
		border-bottom:1px dashed #4bc8c8;	
		border-right:1px dashed #4bc8c8;
		border-left:1px dashed #4bc8c8;
		border-top:none;
	}
	.news13-col h3 {
		margin-top:0;
	}
	.news13-border .news13-col-1 {
		padding-top:30px;
	}
	.features8-col {
		margin-top:0;
	}
	.about {
		padding-left: 15px;
	}
}



@media only screen and (min-width: 250px) and (max-width: 479px) { 	
	
	
	
	.gallery6-col,
	.onecolumn-res,
	.services2-col,
	.features-col-1 {
		margin:0 auto;
		text-align:center;		
		width:100%;
	}
	
	.onecolumn-res img {
		margin:0 auto;
	}
		
	.onecolumn-res-space,
	.services2-res-top-space-1,
	.features-col-space-1 {
		padding-bottom:30px;
	}
	
	.threecol-bw-col,
	.volunteers4-col {
		margin:0 auto;
		width:100%;
	}
	
	.threecol-bw-div,
	.volunteers4-div {
		margin:0 auto;
		width:260px;
	}
	.volunteers4-space {
		padding-bottom:30px;
	}
	
	.threecol-bw-col img,
	.services-bw-div img,
	.wallet12-col img,
	.responsive-img-space-1,
	.four10-row img,
	.services11-icon,
	.features10-icon,
	.project7-col img,
	.features6-icon,
	.business-core-col img {
		padding-bottom:20px;
	}
	.features6-row-2 {
		margin-top:0;
	}
	
	
	.gallery6-div {
		margin:0 auto;
		width:80%;
	}
	
	
	
	.about7-ul {
		display: flex;
	}
	
	.about7-ul-2 {
		margin-top:10px;
		margin-bottom:10px;
	}

	.about7-div {
		display:inline-block;
	}
	
	.header15-ul li,
	.header11-ul li  {
		display:list-item;
		text-decoration:none;
	}
	
	.header15-ul-1 li,
	.header11-ul-1 li {
		display:table-cell;
	}
	
	.header15-li,
	.header11-li {
		margin-bottom:20px;
	}
	
	.product13-col-1.col-xs-6,
	.team15-row .col-xs-4,	
	.product13-col-1,
	.team12-row .col-xs-4,
	.team11-row .col-xs-6,
	.team10-row .col-xs-6,
	.team8-row .col-xs-6  {
		margin:0 auto;
		width:100%;
	}
	
	.product13-col,
	.team11-col,
	.team10-col,
	.team8-col {
		margin:0 auto;
		width:265px;
	}
	
	.news15-col,
	.team15-col,
	.team12-col {
		margin:0 auto;
		width:80%;
	}
	
	.news15-space-1,
	.team15-col-1,
	.product13-res-space,
	.team12-col-1,
	.team11-col-1,
	.team10-col-1,
	.team8-col-1 {
		padding-bottom:30px;
	}
	
	.form1-section,
	.footer10-address,
	.subscribe7-div,
	.footer-div-1 {
		width:100%;
	}
	.download9-1-col .btn.btn-9 {
		font-size:10px;
	}
	
	.team9-col  h4{
		padding-top:15px;
	}
	
	.subscribe7-div h3 {
		margin-bottom:20px;
	}
	.services6-col h4 {
		margin-top:20px;
	}
	.branding8-col, .promotion8-col {
		padding:50px 30px;
	}
	.emergency-row {
		width:100%;
	}
	
	.header10-ul li:nth-child(1) {
		margin-bottom:20px;
	}
	
	.download11-div h2 {
		font-size:45px;
		line-height:55px;
	}
	
	.menucard12-bg,
	.header-div-12 p,
	.header-div-12 {
		width:100%;
	}
	.menucard12-ul > li:nth-child(1) {
		width:80%;
	}
	
	.menucard12-ul {
		display:flex;
	}
	
	.header14-ul {
		clear: both;
		display: table;
		margin-left: 0;
		padding-top: 10px;
	}
	
	.header14-ul-1 {
		margin-left:0 !important;
		margin-top:20px;
	}
	.header14-div {
		text-align:left;
	}
	
	.news13-ul,
	.news14-1-ul,
	.two-col-ul {
		display:table;
	}
	
	.news13-ul-1,
	.news14-1-ul-1,
	.two-col-ul-1 {
		margin-left:0;
		margin-top:20px;
	}
	
	.form3-col-1,
	.form2-col-2 {
		padding-left:15px;
		padding-right:15px;
	}
	
	.form8-div input {
		padding-left: 10px;
		padding-right: 10px;
		width: 60%;
	}
	
	.black-header-div  h1{
		letter-spacing:5px;
		font-size:50px;
	}
	.black-header-div  .first-para{
		letter-spacing:5px;
		font-size:30px;
	}
	
	.edu-title  h5,
	.work-title  h5{ 
		display:grid;
		text-align:center;
		line-height:40px;
	}
	
	.down-arrow {
	position:inherit;
	right:0;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) { 	
	
	.onecolumn-res-space-1 {
		padding-top:30px;
	}	
	
	.two-col-responsive-space,
	.team11-col-2,
	.services11-col-2,
	.features10-col-2,
	.team10-col-2,
	.team8-col-2 {
		margin-top:30px;
	}
	
	.emergency-row {
		width:80%;
	}
	
	.threecol-bw-col,
	.services-bw-col,
	.team15-row .col-xs-4,
	.news15-col,
	.team15-row .col-xs-4,
	.team12-row .col-xs-4 {
		margin:0 auto;
		width:100%;
	}
	
	
	.services-bw-div,
	.news15-border,
	.team15-col,
	.team12-col {
		margin:0 auto;
		width:360px;
	}
	
	.threecol-bw-div {
		margin:0 auto;
		width:280px;
	}
	
	.services-bw-col-1,
	.news15-space,
	.team15-col-1,
	.team12-col-1 {
		padding-bottom:30px;
	}
	.menucard12-ul > li:nth-child(1) {
		width:80%;
	}
	
	.menucard12-ul {
		display:flex;
	}
	.product13-col-space-1 {
		margin-bottom:30px;
	}
	
	.news13-border {
		margin:0 auto;
		width:80%;
	}
	
	.header14-btn-ul li:nth-child(1) {
		margin-right:5px;
	}
	
	.header14-div {
		text-align:left;
		display:inline-table;
	}
	.header14-ul-1 {
		margin-left:0;
		margin-top:20px;
	}
	.header14-ul {
		display:table;
	}
	
	.form8-div input {
		padding-left: 10px;
		padding-right: 10px;		
	}
}

@media only screen and (min-width: 590px) and (max-width: 767px) { 	

	.product13-col,
	.team11-col,
	.team10-col,
	.team8-col {
		margin:0 auto;
		width:265px;
	}
	
	.two_col10_img-1 {
		width:500px;
	}
}


@media only screen and (min-width: 250px) and (max-width: 480px) {
	
	.price-table13-col,
	.price-table11-col,
	.price-table10_1-col,
	.price-table10-col,
	.features9-col,
	.management7-col,
	.footer6-address,
	.price-table6_1-col,
	.price-table6-col,
	.price-table3-col,
	.price-table1-col {
		margin:0 auto;
		width:95%;
	}	
	.features9-col-1,
	.management7-col-1 {
		padding-top:30px;
	}
	
	.header-div-14,
	.estimation7-row .col-xs-6 {
		width:100%;
	}
	.estimation7-col {
		margin-bottom:20px;
	}
	
	.estimation7-ul {
		margin-top:0;
	}
	
	.price-table11-border-4,
	.price-table11-border-3,
	.price-table11-border-2,
	.price-table11-border-1 {
		margin:0 auto;
		width:100%;
	}
	
	.header14-btn-ul {
		display:inline-block;
		text-align:left;
	}
	
	.header14-btn-ul li:nth-child(2) {
		margin-top:20px;
	}
	
}


@media only screen and (min-width: 481px) and (max-width: 767px) { 		
	
	.price-table13-col,
	.footer12-col,
	.price-table10_1-col,
	.price-table10-col,
	.features9-col,
	.management7-col,
	.footer6-address,
	.price-table6_1-col,
	.price-table6-col,
	.price-table3-col,
	.price-table1-col {
		margin:0 auto;
		width:360px;
	}
	.features9-col-1,
	.management7-col-1 {
		padding-top:30px;
	}
	
	.price-table11-col {
		margin:0 auto;
		width:340px;
	}
	.product9-img {
		margin:0 auto;
		width:75%;
	}
	
	.estimation7-col.section-space{
		margin-bottom:0 ;
	}
}



@media only screen and (min-width: 250px) and (max-width: 400px) { 	
	.download1-image.content-ul > li img {
		width:80%;
	}
	.download1-image li, .content-li-display-1 {
		display: table-cell;
	}
	
	
	.testimonial5-col,
	.donate4-children {
		width:100%
	}
	
	.about14-ul {
		display:inline-grid;
	} 
	
	.about14-ul li:nth-child(1) {
		margin-bottom:20px;
		margin-right:0;
	}
}

@media only screen and (min-width: 250px) and (max-width: 320px) { 	
	#article {  
		margin:0 auto;
		position: absolute;
		top:45px;
		left:0;
		right:0;
		width: 100%;
	}	
	.video-1 h2 {
		font-size:22px;
	}
	.modern3-div-1 {
		position:absolute;
		bottom:100px;
		width:100%;
	}
	
	.header-div-12 {
		padding:30px 20px;
	}
	
	.header-div-12 h2 {
		font-size:35px;
	}
}

@media only screen and (min-width: 321px) and (max-width: 360px) { 	
	#article {  
		margin:0 auto;
		position: absolute;
		top:55px;
		left:0;
		right:0;
		width: 100%;
	}	
	.video-1 h2 {
		font-size:22px;
	}
	.modern3-div-1 {
		position:absolute;
		bottom:100px;
		width:100%;
	}
	
}

@media only screen and (min-width: 361px) and (max-width: 400px) { 	
	#article {  
		margin:0 auto;
		position: absolute;
		top:55px;
		left:0;
		right:0;
		width: 100%;
	}
	.modern3-div-1 {
		position:absolute;
		bottom:100px;
		width:100%;
	}
}

@media only screen and (min-width: 401px) and (max-width: 480px) { 	
	#article {  
		margin:0 auto;
		position: absolute;
		top:85px;
		left:0;
		right:0;
		width: 100%;
	}
	.modern3-div-1 {
		position:absolute;
		bottom:120px;
		width:100%;
	}
}

@media only screen and (min-width: 481px) and (max-width: 520px) { 	
	#article {  
		margin:0 auto;
		position: absolute;
		top:105px;
		left:0;
		right:0;
		width: 100%;
	}
	.modern3-div-1 {
		position:absolute;
		bottom:120px;
		width:100%;
	}
}

@media only screen and (min-width: 521px) and (max-width: 620px) { 	
	#article {  
		margin:0 auto;
		position: absolute;
		top:120px;
		left:0;
		right:0;
		width: 100%;
	}	
	.modern3-div-1 {
		position:absolute;
		bottom:130px;
		width:100%;
	}
}

@media only screen and (min-width: 480px) and (max-width: 639px) { 	

.order13-col-3,
.order13-col-2,
.order13-col-1 {
	margin:0 auto;
	width:100%;
}

.order13-div {
	margin:0 auto;
	width:360px;
}

}

@media only screen and (min-width: 621px) and (max-width: 700px) { 	
	#article {  
		margin:0 auto;
		position: absolute;
		top:140px;
		left:0;
		right:0;
		width: 100%;
	}		
	.modern3-div-1 {
		position:absolute;
		bottom:140px;
		width:100%;
	}
}

@media only screen and (min-width: 701px) and (max-width: 767px) { 	
	#article {  
		margin:0 auto;
		position: absolute;
		top:160px;
		left:0;
		right:0;
		width: 100%;
	}
	.modern3-div-1 {
		position:absolute;
		bottom:140px;
		width:100%;
	}
	
}

@media only screen and (min-width: 480px) and (max-width: 599px) { 
	.volunteers4-div {
		margin:0 auto;
		width:100%;
	}
}

@media only screen and (min-width: 600px) and (max-width: 767px) { 
	.volunteers4-row {
		margin:0 auto;
		width:570px;
	}
	.volunteers4-div {
		margin:0 auto;
		width:260px;
	}
}


@media only screen and (min-width: 361px) and (max-width: 767px) { 
	.video-1 h2 {
		font-size:30px;
	}
}

@media only screen and (min-width: 250px) and (max-width: 340px) { 
	
	.footer-icon li,
	.footer5-icon li,
	.footer4-icon li,
	.footer3-icon li,	
	.footer2-icon  li {
		margin-top:10px;
	}
	
	.news7-ul-1 {
		clear: both;
		display: table;
		margin-left: 0;
		padding-top: 10px;
	}
		
}



@media only screen and (min-width: 250px) and (max-width: 350px) { 
	.header-div-2 ul li  {
		display:list-item;	
	}
	
	.header-div-2 ul li:nth-child(4),
	.header-div-2 ul li:nth-child(2)  {
		display:none;	
	}
	
	.header-div-2 ul li:nth-child(3),
	.header-div-2 ul li:nth-child(1)  {
		padding-bottom:10px;
	}
		.header-div-4 h5 span:before {
	  border-bottom: 2px solid #fea501;
		content: "";
		display: block;
		right:90%;
		position: absolute;
		top: 50%;
		width: 100%;
	}
	.header-div-4 h5 span:after {
		border-bottom: 2px solid #fea501;
		content: "";
		display: block;
		left:90%;
		position: absolute;
		top: 50%;
		width: 100%;
	}
	
	.download9-1-bgimage  .col-sm-6{
		padding:0;
	}
	
	.download9-1-col {
		padding:30px 10px;
	}
	.download9-1-col .first-para {
		width:100%;
	}
		
}

@media only screen and (min-width: 768px) and (max-width: 991px) { 	
	
	.bw-about-col,
	.about2-col,
	.two_col6_img,
	.modern3-col-2,
	.single-column-img,
	.single-column-res {
		margin:0 auto;
		width:100%;
	}
	.about2-right {
		display:none;
	}
	.about2-padding {
		padding-bottom:50px;
		padding-top:30px;
	}
	.modern3-col-1 {
		margin:0 auto;
		width:96%;
	}	
	.section-space-1 {
		padding-bottom:25px;
	}	
	
	.single-column-res-pull,
	.col-sm-6.col-sm-pull-6.news4-col,
	.col-sm-pull-6.col-sm-6.about4-col,
	.col-sm-6.col-sm-pull-6.creative-temp-col-1,
	.col-sm-6.col-sm-pull-6.features3-col {
		margin:0 auto;
		width:100%;
		right:0;
	}	
	
	.single-column-res-push,
	.col-sm-6.col-sm-push-6.news4-img,
	.col-sm-push-6.col-sm-6.about4-img,
	.col-sm-6.col-sm-push-6.creative-temp-img-1,
	.col-sm-6.col-sm-push-6.features3-image,
	.col-sm-push-6.col-sm-6.business2-col,
	.col-sm-push-6.col-sm-6.about2-col {
		margin:0 auto;
		width:100%;
		left:0;
	}		
	.modern3-div-1 {
		position:absolute;
		bottom:140px;
		width:100%;
	}	
	.one-column3-img {
		padding-top: 20px;
		width:80px;
	}	
	.utilizing3-div {
		width:45%;
	}	
	
	.menucard12-bg,
	.two-col12-bgimage-1,
	.footer-div-5,
	.testimonial2-main {
		width:100%;
	}	
	.testimonial2-col {
		margin-top:0;
	}	
	
	
	.separator-3,
	.footer3-address {
		width:85%;
	}
	
	.product5-features-div-2,
	.header-div-5 {
		padding-top:30px;
	}
	
	
	.skill6-col-1,
	.simple6_img {
		padding-bottom:20px;
	}
	
	.footer-div-1,
	.features6-main {
		width:85%;
	}
	
	.offer13-img img,
	.download9-2-img img,
	.team6-col img {
		margin:0 auto;
	}
	
	.footer-row13-1,
	.footer10-address,
	.estimation7-row,
	.footer6-address {
		width:100%;
	}
	.subscribe7-div {
		width:80%;
	}	
	
	.footer6-col {
		padding:30px 20px;
	}
	
	.promotion8-col-img img,
	.branding8-col-img img {
		margin:0 auto;
	}
	
	.about8-img-1  {
		display:flex;
		width:100%;
	}
	.about8-img img {
		text-align:left;
	}
		
	.emergency-row,
	.header-div-14,
	.subscribe13-row,
	.healthy10-img,
	.collection9-img {
		width:100%;
	}	
	
	.features11-left {
		margin:0 auto;
		width:570px;
	}
	
	.healthy10-space,
	.collection9-space {
		margin:0 auto;
		width:100%;
	}
	
	.product9-img {
		margin:0 auto;
		width:78%;
		padding-bottom:30px;
	}
	
	.features9-1-row .col-sm-4 {
		padding-left:5px;
		padding-right:5px;
	}
	
	.features9-1-row .features9-col .content-li {
		padding-left:10px;
		padding-right:10px;
	}
	.features9-1-row .features9-col .list-ul li:nth-child(1) {
		margin-bottom: 10px;
	}
	
	.team11-col,
	.team10-col {
		width:265px;
	}
	
	.team11-row,
	.team10-row {
		margin:0 auto;
		width:85%;
	}
	
	.team11-col-2,
	.team10-col-2 {
		margin-top:40px;
	}
	
	.news9-ul-1 {
		margin-left:0;
		margin-top:10px;		
	}
	
	.footer12-col-1 {
		padding-left:5px;
		padding-right:5px;
	}
	.footer12-col {
		padding:20px;
	}
	.arrival13-padding {
		padding-top:30px;
	}
	
	.news13-border {
		margin:0 auto;
		width:80%;
	}
	.cta13-col {
		margin:0 auto;
		width:100%;
	}
	.cta13-height {
		height:0;
	}
	
	.payment13-div {
		width:100%;
	}
	
	.download9-3-row  {
		width:70%;
	}	
	
	.arrival13-bgimage-1 {
		height:344px;
	}
	
	.nav13-left,
	.nav12-right,
	.nav10-right,
	.nav11-right,
	.nav9-right {
		display:none;
	}
	
	.black-navigation,
	.navigation12,
	.navigation10,
	.navigation11,
	.navigation9 {
		float:right;
		display: block;
	}
	
	
	.nav > li > a {
		display: block;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
	}
	.navigation10 .nav-10.navbar-nav {		
		left: 0;
		position: static;
		top: 0;
		transform: none;
	}	
	
	.menu-link14,
	.menu-link10 {
		padding-left: 8px !important;
		padding-right: 8px !important;
	}
	.logo13-image {
		float: left;
		left: 0;
		position: static;
		top: 0;
		transform: none;
	}
	
	.nav-14,
	.logo14-image {
		float:none;
		text-align:center;
	}
	
	.nav.nav15-left.content-left ,
	.nav.nav14-left.content-left {
		 display: block;
		float: none !important;
		margin:0 auto;
		text-align:center !important;
	}
	.navbar-right.top-bar15-right,
	.navbar-right.top-bar14-right {
		float: none !important;
		width:100% !important;
		padding-top:20px;
	}
	.nav-15 li:last-child {
		display:none;
	}
	.nav-15 {
		padding-top:0;
	}
	
	.nav-15 .menu {
		padding-bottom:10px;
		padding-top:10px;
	}
	
	.nav-17.navbar-nav > li > a {
		padding-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 20px;
	}
	.menu17-phone {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.logo17-div {
		padding-bottom:10px;
	}
	.navigation17 {
		margin-bottom:15px;
	}
	.nav-14.nav.navbar-nav  {
		float:none !important;
		display:table;
		margin:0 auto;		
	}
	
	.footer-div-15 .section-space, 
	.estimation7-col.section-space,
	.footer-div-13 .section-space {
		margin-bottom:0 ;
	}
	
	.header-div-9 {
		padding-top:10px;
	}
	.nav-15.nav.navbar-nav.navbar-right {
		padding-bottom: 0 !important;
		padding-top: 0 !important;
	}
	
	.price-table11_1-border-2  .price-table11-content {
		padding-left:18px;
		padding-right:18px;
	}
	
	.work-div-2,
	.edu-div-2 {
		margin-top:0;
	}
	
	.gallery-col {
		margin-top:40px;
	}
	
}

@media only screen and (min-width: 992px) and (max-width: 1199px) { 
	.about2-padding{
		padding-bottom: 45px;
		padding-top: 45px;
	}
	
	.business3-padding{
		padding-bottom:55px;
		padding-top:56px;
	}
	.header-div-5 {
		padding-bottom: 60px;
		padding-top: 60px;
	}
	.utilizing3-div {
		width:35%
	}
	
	.footer-row13-1,
	.footer10-address,
	.footer6-address,
	.footer-div-5 {
		width:80%;
	}	

	.subscribe7-div {
		width:60%;
	}

	.news4-col h4 {
		margin-top:0;
	}
	
	.emergency-row {
		width:75%;
	}
	.upcoming-events12-padding {
		padding-bottom: 48px;
		padding-top: 48px;
	}
	
	.two-col-12 {
		padding-bottom:65px;
		padding-top:70px;
	}
	
	.news13-border-1 {
		border-left:1px dashed #4bc8c8;
	}
	.news13-border-2 {
		border-right:1px dashed #4bc8c8;
	}
	.payment13-div {
		width:100%;
	}
	

	.navigation11 .nav-11.navbar-nav,
	.navigation9 .nav-9.navbar-nav {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		padding-top:0;
	}
	
	.black-navigation .black-nav.navbar-nav {
		left:36%;
		position: absolute;
		top: 50%;
		transform: translate(-31%, -50%);
		padding-top:0;
	}
	
	.menu-link10,
	.menu-link11,
	.nav-9  .pagescroll{
		padding-left:7px !important;
		padding-right:7px !important;
	}
	
	.menu-link12  {
		padding-left:6px !important;
		padding-right:6px !important;
	}
	
	.navigation12 .nav-12.navbar-nav {
		 left: 50%;
		padding-top: 0;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	
	
	.menu13-phone  p,
	.nav-13 .menu {
		font-size:13px;
	}
		
	.menu-link14 {
		padding-left:10px !important;
		padding-right:10px !important;
	}
	
	.nav-17.navbar-nav > li > a {
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
	}
	.menu17-phone {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.logo17-div {
		padding-bottom:10px;
	}
	.navigation17 {
		margin-bottom:15px;
	}
	.product11-col {
		padding-left:20px;
		padding-right:20px;
	}
	
	.about-me-bg {
		height:692px;
	}
	
}

@media only screen and (min-width: 1200px) and (max-width: 1251px) { 
	.black-navigation .black-nav.navbar-nav {
		left:36%;
		position: absolute;
		top: 50%;
		transform: translate(-31%, -50%);
		padding-top:0;
	}
}

@media only screen and (min-width: 1252px) and (max-width: 1940px) { 

.black-navigation .navbar-collapse,
.navigation16 .navbar-collapse,
.navigation12 .navbar-collapse,
.navigation11 .navbar-collapse,
.navigation10 .navbar-collapse,
.navigation9  .navbar-collapse {
    display: flex !important;
    width: 100%;
}

.black-navigation .black-nav.navbar-nav,
.navigation16 .nav-16.navbar-nav,
.navigation12 .nav-12.navbar-nav,
.navigation11 .nav-11.navbar-nav,
.navigation9 .nav-9.navbar-nav {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-45%, -50%);
	-ms-transform: translate(-45%, -50%);
	-webkit-transform: translate(-45%, -50%);
	-moz-transform: translate(-45%, -50%);
	-o-transform: translate(-45%, -50%);
	padding-top:0;
}

	
}

@media only screen and (min-width: 300px) and (max-width: 360px) { 	
	
	
	.about .profile-details > li > p,
	.about .profile-details > li > span {
		font-size:14px;
	}
	
	h2 {
		font-size:45px;
	}

}


/*============================================= MEDIA QUERIES END ===============================================*/
